/* Header Style */
header {
    background-color: #5d91e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 2rem 0;
}

.dog-icon {
  width: 50px;
  height: auto;
}

header h1 {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

/* Breeds Select Tag */
.breeds {
    width: 60vw;
}

/* End Header Style */

/* Dog Card Style */
.card {
  max-width: 80vw;
}

.dog-img {
  display: none;
  max-height: 60vh;
  width: 100%;
  object-fit: scale-down;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #174491;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    margin: auto;
    display: none;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #5d91e0;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 

.show {
    display: block;
}

@media screen and (min-width: 768px) {

  .dog-icon {
    width: 80px;
  }

  .card {
    max-width: 60vw;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    max-width: 40vw;
  }
}